.swiperArea {
  .swiperBlock {
    padding-bottom: 210px;
    white-space: pre-line;
    overflow: hidden;
    &__title{
      text-align: center;
      font-size: 50px;
      line-height: 140%;
      letter-spacing: -2.5%;
      margin-bottom: 24px;
    }
    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 140%;
      letter-spacing: -2.5%;
      font-weight: 400;
      margin-bottom: 120px;
      color: #767676;
    }

    /* Swiper 전체 박스 스타일 */
  
    .swiper__parent {
      width: 2300px;
      left: -11%;
      height: auto; // 높이 조절 가능
      padding: 20px 0px;
      /* 개별 슬라이드 스타일 */
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        border-radius: 32px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      /* 내부 컨텐츠 스타일 */
      .slide-content {
        height: 330px;
        width: 440px;
      }
    }
  }
}


